VITE_SUPABASE_URL=https://soleojevywzlkcbqlgxy.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNvbGVvamV2eXd6bGtjYnFsZ3h5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzI2MDM5NDUsImV4cCI6MjA4ODE3OTk0NX0.NNXr91aJ1MGxU2RvB2u6cjz7gk7c8VE_o1GFntykGM4
VITE_CLERK_PUBLISHABLE_KEY=pk_test_dXB3YXJkLXRhcnBvbi0xNi5jbGVyay5hY2NvdW50cy5kZXYk
RAZORPAY_KEY_ID=
RAZORPAY_KEY_SECRET=
VITE_RAZORPAY_KEY_ID=
